SECRET_KEY = "d3cebeb1fae5a695144f86c89de897384145a7731e63168d28f76b1f673c8349"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 4320
SUPABASE_SERVICE_ROLE = "foo"
SUPABASE_HOST = "https://foo.supabase.co"
SUPABASE_API = "foo"
SUPABASE_URL = "https://foo.supabase.co"
POSTGRES_HOST = "db.foo.supabase.co"
DATABASE_NAME = "postgres"
POSTGRES_PASSWORD = "foofoofoo"
PORT = "5432"
POSTGRES_USER = "postgres"
OPENAI_API_KEY = "foo"
DJANGO_SETTINGS_MODULE = "django_backend.settings"
CHROME_DRIVER_PATH = "/chrome/driver/path"
HOST = "localhost:8000"
MAIL_USERNAME = "foo@foo.com"
MAIL_PASSWORD = "foofoo"
DJANGO_SECRET = "django-insecure-j$6su!v#b51dbj1ng5qv9ve15w#e#qwzs2lpmfm9oz0!_ak#hi"

# LIVE STRIPE
STRIPE_PUBLIC_KEY = "foo"
STRIPE_SECRET_KEY = "foooo"
WEBHOOK_SECRET = "foo"
STRIPE_PRODUCT_1 = "fooo"
STRIPE_PRODUCT_2 = "foofooo"
