<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        #email-content a {
            color: #FFD700;
            /* Golden color for example, you can choose any other color */
            text-decoration: none;
            /* Optional: remove underline */
        }

        #email-content a:hover {
            text-decoration: underline;
            /* Underline on hover */
        }
    </style>
</head>

<body style="font-family: Arial, sans-serif; padding: 20px; background-color: #1f2937; margin: 0; color: #ffffff;">
    <div
        style="max-width: 600px; margin: 0 auto; background-color: #1f2937; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <div style="display: flex; justify-content: center; margin-bottom: 20px;">
            <img src="https://case.science/static/img/CaseLogo.png" alt="Case Logo"
                style="max-width: 200px; max-height: 200px;">
        </div>
        <h2 style="color: #ffffff; font-size: 16px; font-weight: bold; margin-top: 0;">Hello, {{ username }}</h2>
        <div id="email-content" style="font-size: 16px; line-height: 1.5;">{{ body | safe }}</div>
    </div>
</body>

</html>