{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-900 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 bg-gray-800 p-10 rounded-xl shadow-lg">
        <div>
            <h2 class="text-center text-3xl font-extrabold text-white">Login</h2>
        </div>
        <form class="mt-8 space-y-6" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="{{form.username.name}}" class="sr-only">{{form.username.label}} HELLO</label>
                    <input id="{{form.username.name}}" name="{{form.username.name}}" type="text"
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Username">
                    {{ form.username.errors }}
                </div>
                <div>
                    <label for="{{form.password.name}}" class="sr-only">{{form.password.label}}</label>
                    <input id="{{form.password.name}}" name="{{form.password.name}}" type="password"
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Password">
                    {{ form.password.errors }}
                </div>
            </div>

            <div>
                <button type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Login
                </button>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
{% endblock %}